.sidebar {
  min-width: 100px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.07);

  &-logo {
    margin: 20px 0 0 0;
    width: 60px;
    height: 60px;

    svg {
      width: inherit;
      height: auto;

      g {
        fill: $color-primary;
      }
    }
  }

  &__divider {
    margin: 40px 0;
    height: 2px;
    width: 70%;
    background-color: #ececec;
  }

  &-navigation {
    &__listitem {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 0 30px 0;
      width: 100px;
      height: 50px;
      transition: all 0.3s;

      &__svg {
        height: auto;
        width: 25px;
      }

      &:hover {
        background-color: rgba(108, 93, 211, 0.1);
      }

      &--active {
        &::before {
          content: "";
          position: absolute;
          width: 6px;
          height: 40px;
          right: 0;
          top: 50;
          background-color: $color-primary;
          border-radius: 50px 0 0 50px;
        }
      }
    }
  }

  &-logout {
    margin: auto 0 40px 0;
    background-color: rgba(108, 93, 211, 0.1);
    border-radius: 5px;
    padding: 8px 9px 7px 10px;
    transition: all 0.3s ease-in-out;

    &__button {
      height: auto;
      width: 30px;
      color: $color-primary;
      transition: all 0.3s ease-in-out;
    }

    &:hover {
      background-color: $color-primary;
      cursor: pointer;

      & .sidebar-logout__button {
        color: $color-white;
      }
    }
  }
}
