@mixin hoverEffect($left, $right) {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  top: 0;
  left: $left;
  right: $right;
  background-color: $color-accent-blue;
}

.table {
  box-shadow: 0px 8px 14px rgba(0, 0, 0, 0.07);
  border-radius: 5px;

  &-header {
    height: 50px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f0f3ff;
    border-radius: 5px 5px 0 0;

    & p {
      font-weight: bold;
    }

    &__categories {
      display: flex;

      & > p {
        margin-left: 30px;
      }
    }
  }

  &-body {
    max-height: 250px;
    overflow-y: scroll;

    &__row {
      height: 50px;
      padding: 0 3px 0 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;

      &__title {
        & > p {
          max-width: 275px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      &__categories {
        display: flex;

        & > p {
          text-align: center;
          margin-left: 30px;
        }
      }

      &:hover {
        transition: all 0.3s;
        background: rgba(108, 93, 211, 0.07);

        &::before {
          @include hoverEffect(0, unset);
        }

        &::after {
          @include hoverEffect(unset, 0);
        }
      }
    }
  }
}
