@keyframes counterGlow {
  0% {
    box-shadow: 0px 2px 20px #5fdda0dc;
  }
  100% {
    box-shadow: 0px 2px 35px #2af14bd3;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
