@import "./fonts";
@import "./colors";

@mixin fontStyle($font, $color, $size, $weight) {
  font-family: $font;
  color: $color;
  font-size: $size;
  font-weight: $weight;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  @include fontStyle($font-primary, $color-primary, 2rem, bolder);
}
h2 {
  @include fontStyle($font-primary, $color-primary, 1.5rem, bolder);
}
h3 {
  @include fontStyle($font-primary, $color-primary, 1.17rem, bolder);
}
h4 {
  @include fontStyle($font-primary, $color-primary, 1rem, bolder);
}
h5 {
  @include fontStyle($font-primary, $color-primary, 0.83rem, bolder);
}
h6 {
  @include fontStyle($font-primary, $color-primary, 0.67rem, bolder);
}

p,
span {
  @include fontStyle($font-primary, $color-primary, 0.75rem, 400);
}

a {
  cursor: pointer;
}

#root {
  display: flex;
}

#signin-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//// SCROLLBAR ////
/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $color-white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $color-primary;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $color-accent-blue;
}
