@mixin flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card {
  border-radius: 5px;
  box-shadow: 0px 8px 14px rgba(0, 0, 0, 0.07);
  height: 100px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  overflow: hidden;
  position: relative;

  &:hover {
    &::before {
      content: "";
      position: absolute;
      width: 240px;
      height: 50px;
      left: -20px;
      top: 30px;
      background: linear-gradient(90deg, #00ccff, #d400d4);
      animation: spin 3s linear infinite;
      z-index: -2;
    }

    &::after {
      content: "";
      position: absolute;
      background-color: $color-white;
      inset: 4px;
      border-radius: 5px;
      z-index: -1;
    }
  }

  &-left {
    @include flex;

    &__icon {
      align-self: flex-start;
      height: 20px;
      width: auto;
      color: $color-primary;
    }
  }

  &-right {
    @include flex;

    &__graph {
      background-color: $color-accent-blue;
      width: 50px;
      height: 20px;
    }
    &__percent {
      color: $color-accent-green;
      align-self: flex-end;
    }
  }
}
